
  .navbar{
    text-align:right;
  }

  .text {
    display: flex;
    flex-direction: row ;
    gap: 20px;
  
}

.text img{
  width: 50%;
}


.container-about {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.about-images {

  display: flex;
  flex-direction: column;

  width: 50%;
  gap: 20px;

}


.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}
